name: Generate WireGuard Config

on:
  workflow_dispatch:
    inputs:
      location:
        description: 'Server location'
        required: true
        type: choice
        options:
          - UAE - Dubai
          - UK - London
          - Germany - Frankfurt
          - Netherlands - Amsterdam
          - Turkey - Istanbul

jobs:
  gen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Build & Run
        env:
          INPUT_LOCATION: ${{ github.event.inputs.location }}
          PUREVPN_USERNAME: ${{ secrets.PUREVPN_USERNAME }}
          PUREVPN_PASSWORD: ${{ secrets.PUREVPN_PASSWORD }}
          PUREVPN_SUB_USER: ${{ secrets.PUREVPN_SUB_USER }}
        run: |
          go mod tidy
          go run main.go
